<head>
    <title>Hackatime - Coding Statistics</title>
    <base href="{{ getBasePath }}/" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta
        property="og:title"
        content="Hackatime - Track your coding time in style"
    />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Hackatime" />
    <meta
        property="og:description"
        content="Hackatime is an open-source tool that helps you keep track of the time you have spent coding on projects. Luxuriate in the graphs. Developed @hackclub"
    />
    <meta property="og:image" content="assets/images/og.jpg" />
    <meta property="og:url" content="https://waka.hackclub.com" />

    <!-- Twitter/X Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
        name="twitter:image"
        content="https://waka.hackclub.com/assets/images/og.jpg"
    />

    <meta
        name="theme-color"
        content="#D6D7D7"
        media="(prefers-color-scheme: light)"
    />
    <meta
        name="theme-color"
        content="#2D3133"
        media="(prefers-color-scheme: dark)"
    />

    <link rel="icon" sizes="512x512" href="assets/images/favicon.svg" />
    <link rel="manifest" href="assets/site.webmanifest" />
    <link href="assets/vendor/source-sans-3.css" rel="stylesheet" />
    <link href="assets/css/app.dist.v0.1.6.css" rel="stylesheet" />
    <script src="assets/vendor/petite-vue.min.js" defer></script>
</head>
